.App {
  text-align: center;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* justify-content: center; */
  font-size: calc(15px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.header {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 3.6em 10px 10px;
  background: rgb(40 44 52 / 80%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
}

.title {
  font-size: 2em;
  font-weight: bold;
  opacity: 0.8;
}
.title.loading {
  opacity: 1;
}
.location {
  font-size: 0.7em;
  /* margin-bottom: 1.4em; */
}

.buses {
  padding: 30px 50px 1em;
}

.bus {
  border: 1px solid #00c3ff;
  border-radius: 0.7em;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7em;
  min-width: 220px;
}
.bus.selected {
  background: rgb(0 158 255 / .2);
}

.time {
  background: rgb(0 158 255 / .2);
  border-radius: 0.7em 0 0 0.7em;
  color: #00c3ff;
  font-weight: bold;
  line-height: 1;
  padding: 0.3em 0.6em;
}
.bus.selected .time {
  color: white;
}
.minutes {
  font-variant-numeric: tabular-nums;
}
.label {
  font-size: 0.5em;
  line-height: 1;
  text-transform: uppercase;
}

.text {
  font-size: 0.7em;
  padding: 5px 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.map {
  width: 100vw;
  height: 100vh;
}